
/* =========================
   PAGE BACKGROUND
========================= */
* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}
.auth-container {
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    to bottom right,
    #f3f4f6,
    #e0e7ff
  );
}

/* =========================
   LOGIN CARD
========================= */
.auth-form {
  width: 360px;
  background: #ffffff;

  padding: 40px 30px;
  border-radius: 14px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);

  display: flex;
  flex-direction: column;
  gap: 16px;

  transition: all 0.3s ease;
}

/* =========================
   TITLE
========================= */
.auth-form h2 {
  margin: 0;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  color: #111827;
}

/* =========================
   INPUTS
========================= */
.auth-form input {
  padding: 12px 14px;
  border-radius: 8px;

  border: 1px solid #d1d5db;
  outline: none;

  font-size: 15px;

  transition: all 0.2s ease;
}

.auth-form input:focus {
  border-color: #6366f1;
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.2);
}

/* =========================
   LOGIN BUTTON
========================= */
.auth-form button {
  padding: 12px;
  border: none;

  border-radius: 8px;
  background-color: #111827;
  color: white;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  transition: all 0.2s ease;
}

.auth-form button:hover {
  background-color: #1f2937;
  transform: translateY(-1px);
}

/* =========================
   REGISTER LINK TEXT
========================= */
.auth-form p {
  text-align: center;
  font-size: 14px;
  color: #4b5563;

  cursor: pointer;

  transition: color 0.2s ease;
}

.auth-form p:hover {
  color: #111827;
  text-decoration: underline;
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 480px) {
  .auth-form {
    width: 90%;
    padding: 30px 20px;
  }
}.main-layout {
  margin-left: 220px;
  min-height: 100vh;
}

@media (max-width: 768px) {

  .main-layout {
    margin-left: 80px;
  }

}