.dashboard-card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.dark .dashboard-card {
  background: #1f2937;
  color: white;
}

.transactions-box {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.dark .transactions-box {
  background: #1f2937;
  color: white;
}

.chart-box {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.dark .chart-box {
  background: #1f2937;
  color: white;
}.dashboard-card,
.transactions-box,
.chart-box {
  transition: 0.3s;
}.dark .transactions-box div {
  border-bottom: 1px solid #374151 !important;
}