.settings-page{


padding:40px;

background:#eef2ff;

min-height:100vh;


}



/* HEADER */


.settings-header{


display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:35px;


}


.settings-header h1{

font-size:34px;

}


.settings-header p{

color:#64748b;

margin-top:5px;

}



/* DARK TOGGLE */


.theme-toggle{


display:flex;

align-items:center;

gap:15px;


font-size:22px;

}



.switch{

position:relative;

width:55px;

height:28px;


}



.switch input{

display:none;

}



.slider{


position:absolute;

inset:0;

background:#cbd5e1;

border-radius:30px;

cursor:pointer;


}



.slider:before{


content:"";

position:absolute;

height:22px;

width:22px;

left:3px;

bottom:3px;

background:white;

border-radius:50%;

transition:.3s;


}



input:checked + .slider{

background:#2563eb;

}



input:checked + .slider:before{

transform:translateX(27px);

}




/* SECTIONS */


.settings-section{


background:white;

border-radius:20px;

padding:25px;

margin-bottom:25px;


box-shadow:
0 10px 25px rgba(0,0,0,.08);


}



.settings-section h2{


display:flex;

align-items:center;

gap:12px;

margin-bottom:20px;


}





/* ROW */


.setting-item{


display:flex;

justify-content:space-between;

align-items:center;


padding:18px 0;

border-bottom:1px solid #e5e7eb;


}



.setting-item h4{

margin:0;

}


.setting-item p{

color:#64748b;

margin-top:5px;

}




button{


border:none;

padding:10px 18px;

border-radius:10px;

cursor:pointer;

font-weight:600;


}



.primary{

background:#2563eb;

color:white;

margin-right:10px;

}



.danger{

background:#ef4444;

color:white;

}






/* DARK MODE */


.settings-page.dark{


background:#111827;

}



.settings-page.dark .settings-section{


background:#1f2937;

color:white;


}



.settings-page.dark p{


color:#cbd5e1;


}



.settings-page.dark .setting-item{


border-color:#374151;


}




/* RESPONSIVE */


@media(max-width:700px){


.settings-page{

padding:20px;

}


.settings-header{

flex-direction:column;

align-items:flex-start;

gap:20px;

}


.section-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

.edit-btn{

background:#2563eb;

color:white;

border:none;

padding:10px 18px;

border-radius:10px;

font-weight:600;

cursor:pointer;

transition:.2s;

}

.edit-btn:hover{

transform:translateY(-2px);

}.section-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:25px;
}

.edit-btn{
  border:none;
  background:#2563eb;
  color:white;
  padding:10px 18px;
  border-radius:10px;
  cursor:pointer;
  font-weight:600;
}

.edit-btn:hover{
  opacity:.9;
}}