/* ================= SIDEBAR ================= */

.sidebar {
  width: 240px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 16px;
  z-index: 1000;
  background: linear-gradient(to bottom, #111827, #1f2937);
}


/* ================= LOGO ================= */

.sidebar-logo h2{

    color:white;

    font-size:28px;

    margin-bottom:40px;

}



/* ================= LINKS ================= */


.sidebar-links{

    display:flex;

    flex-direction:column;

    gap:10px;

}


.sidebar-links a{

    text-decoration:none;

    color:#cbd5e1;

    display:flex;

    align-items:center;

    gap:14px;


    padding:14px 16px;


    border-radius:14px;


    font-size:16px;


}



.sidebar-links a:hover{

    background:rgba(255,255,255,0.1);

    color:white;

}



.sidebar-links a.active{

    background:#2563eb;

    color:white;

}




/* ================= PROFILE ================= */


.sidebar-bottom{

    position:relative;

}



.profile{

    display:flex;

    align-items:center;

    gap:12px;

    padding:12px;

    border-radius:14px;

    background:rgba(255,255,255,0.05);

}



.profile svg{

    font-size:38px;

    color:#60a5fa;

}


.profile h4{

    color:white;

    margin:0;

}


.profile p{

    color:#94a3b8;

    margin:0;

    font-size:13px;

}



/* ================= DROPDOWN ================= */


.profile-menu{

    position:absolute;

    bottom:90px;

    left:10px;


    width:220px;


    background:white;


    border-radius:16px;


    padding:12px;


    box-shadow:0 10px 30px rgba(0,0,0,.25);


    z-index:2000;

}



.profile-menu button{

    width:100%;

    padding:12px;

    border:none;

    background:none;

    text-align:left;

    cursor:pointer;

}



.profile-menu button:hover{

    background:#f1f5f9;

}



/* ================= RESPONSIVE ================= */


@media(max-width:768px){


.sidebar {
  width: 80px;
 
  background: linear-gradient(to bottom, #111827, #1f2937);
 
}


.sidebar-logo h2,
.sidebar-logo h2,
.sidebar-links span {
  display: none;
}

.sidebar-links a{

    justify-content:center;

}



.profile{

    justify-content:center;

}


}